* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 80px;
    border-bottom: 1px solid var(--Border-Grey, #EBE8F4);
    background: #FFF;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-left: 80px;

}

.logo-style {
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 44px;
}

.nav-menu-style {
    color: #726E8D;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 16px;
 margin-right: 80px;
}

.icon-style1 {
    background-image: url(/img/search.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-style2 {
    background-image: url(/img/shopping--cart.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-style3 {
    background: url(/img/user--avatar.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.main-sec{
    display: flex;
    flex-direction: column;
}
.h-style{
padding-top: 80px;
padding-bottom: 24px;
text-align: center;
    color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 50.4px */
}

.selection{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 24px;
    gap: 417px;
}
.sel-first{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
select {
    margin: 12px 24px;
    gap: 12px;
    border: none;
}
.sel-second{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px; 
}
.select-style{
    color: #2A254B;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

.main{
    display: grid;
    grid-template-rows: 1fr auto;
}

.main-block{    
display: grid;
grid-template-columns: repeat(4, 1fr);
    padding-top: 28px;
    padding-bottom: 20px;
    gap: 20px;
}
.block{
    display: grid;
    gap: 24px;
}
.block-text{
    display: grid;
    gap: 8px;
}
.block-text-style{
    color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}
.block-price-style{
    color: var(--Dark-Primary, #2A254B);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.button{
    margin-top: 48px;
    margin-bottom: 40px;
    justify-self: center;
    background: var(--Light-Grey, #F9F9F9);
    padding: 16px 32px;
}
.button-style{
    color: #2A254B;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

.pre-footer{
    display: grid;
    align-self: center;
    grid-template-columns: repeat(2, 1fr);
}
.background{
    background-image: url(/img/join-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 720px;
height: 521px;
}
.reg{
        margin-left: 49px;
}
.h-reg-style{
    margin-top: 71px;
    margin-bottom: 21px;
    color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text-reg-style{
    width: 470px;
    color: var(--Dark-Primary, #2A254B);
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

.reg-input{
    display: flex;
    margin-top: 216px;
    margin-left: 72px;
align-items: flex-start;
}
.reg-button{
    padding: 16px 32px;
    color: var(--White, #FFF);
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
background: var(--Dark-Primary, #2A254B);
}
.reg-text{
    display: flex;
width: 472px;
height: 60px;
align-items: flex-start;
border: none;
}

.footer{
    width: 1440px;
    background: var(--Dark-Primary, #2A254B);
}
.map{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 58px;    
    padding-left: 82px;
    padding-bottom: 48px;
    border-bottom: 2px solid #4E4D93;

}

.footer-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-menu{
    display: grid;
    gap: 12px;
}
.footer-title-style{
    color: var(--White, #FFF);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer-text-style{
    color: var(--White, #FFF);
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer-icon{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 68px;
    justify-content: space-between;
}
.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 80px;

}
.icon-footer{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-right: 83px;
}
.icon-style4{
    background-image: url(/img/logo--linkedin.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.icon-style5{    background-image: url(/img/logo--facebook.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.icon-style6{
    background-image: url(/img/logo--instagram.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.icon-style7{
    background-image: url(/img/logo--skype.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.icon-style8{
    background-image: url(/img/logo--twitter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.icon-style9{
    background-image: url(/img/logo--pinterest.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}